body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c0b0b; 
  }
  
  .container {
    background-color: #007bff; 
    padding: 20px;
    border-radius: 8px;
  }
  
  h1 {
    text-align: center;
    color: #fff; 
    font-size: 36px;
    margin: 0;
    padding: 10px;
  }
  